div{
    display:flex;
}

#main{
    background-color: #FFCD9E;
    height: 60vh;
 }

 #left{
    display:flex;
    flex-direction: column;
    margin-left:100px;
 }

 #left h1{
    margin-top: 25px;
    font-size: 36px;
    font-weight: 700;
 }

 ::placeholder{
    text-align: center;
    font-size: 15px;
 }

 #left h5{
    color: #FFFFFF;
    margin-left: 20px;
 }

 #left p{
    /* margin-top: 18px; */
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
 }

 #email{
    height:35px;
    width:200px;
    border-radius: 5px,8px;
    border-color: #000000;
 }

 #btn{
    width:200px;
    height: 38px;
    border-radius:8px;
    color: #FFFFFF;
    background-color: #282828
 }

#image{
    display: flex;
    justify-content: flex-end ;
    position: absolute;
    top: 16px;
    left: 830px;
    height:500px;
    width: 500px;
}

#main2{
    background-color: #282828;
    height: 35vh;
}

#features{
    display: flex;
    margin-left: 70px;
    flex-direction: column;
    color: #FFFFFF;
    padding: 45px;
}

#features ul{
    margin: 3px;
    line-height: 2;
}

#social{
    display: flex;
    flex-direction: column;
    margin-left: 700px;
    color:#FFFFFF;
    padding: 45px;
}

#social ul{
    margin: 3px;
    line-height: 2;
}



